.conteiner {
    height: calc(98vh - 100px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imPares {
    width: 50vw;

    background-color: #EFEFEF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select {
    width: 140px;
    height: 30px;
    font-size: 1.2rem;
    border: none;
    background-color: #C4C4C4;
}

.titulo {
    width: 50vw;
    height: 80px;

    background-color: #CCCCDD;

    padding-top: 26px;

    text-align: center;
}

.inicial {
    margin-top: 40px;
    margin-bottom: 30px;
}

.botao {
    margin-top: 40px;
}

.valores {
    width: 25vw;
    margin-right: auto;
    padding-left: 30px;
}

.pares, .impares {
    width: 150px;
    background-color: #CCCCDD;
}

.resultados {
    display: flex;
    gap: 30px;
    text-align: center;
    position: absolute;
}

